# Operating System Files

*.DS_Store
Thumbs.db
*.sw?
.#*
*#
*~
*.sublime-*

nbactions.xml

# Build Artifacts

.gradle/
log/
build/
target/
bin/
dependency-reduced-pom.xml

# Eclipse Project Files

.classpath
.project
.settings/
.attach_pid*

# VS Code
.vscode/
!.vscode/launch.json

# IntelliJ IDEA Files

*.iml
*.ipr
*.iws
*.idea

# Local
README.html
request.xml
output.xml
application-local.yml
*.orig
*.log
*.tmp
*.log.gz
